@media screen and (max-width: 768px) {
  .profile {
    padding-top: 3rem !important;
    margin-top: 0 !important;
    min-height: auto !important;
  }
  
  .profile_inner h1 {
    margin-top: 0.5rem !important;
    font-size: 1.6rem !important;
  }
  
  .profile_inner .post-description {
    margin-top: 0.5rem !important;
  }
}